<!DOCTYPE html>
<html>

    <script>
        MathJax = {
              tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
                   }
                  };
    </script>
	<script id="MathJax-script" async
  		src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
	</script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <script src="https://unpkg.com/context-cards/dist/context-cards.js"></script> 

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}


</html>
