/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0px;
}


p {

  text-align:justify;
  	@include media-query($on-palm) {
					text-align:left;
				}
   }


/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    text-align:left;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit;
   
}


hr {
  margin-top: 5px;
   border-top: 0.5px solid $grey-color-light;
   margin-bottom: 5px;
}

/**
 * Images
 */
img {
    max-width: 90%;
    margin: auto;
    display: block;
    @include media-query($on-palm) {
        max-width: 100%;
    }

    // max-width: 100%;
    // vertical-align: middle;
    // padding-top: 5px;
    // padding-right: 0px;
    // padding-bottom: 5px;
    // padding-left: 0px;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
/**
    &:visited {
        color: darken($brand-color, 15%);
    }
*/
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid #990000;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 16px;
    border: 0px solid $grey-color-light;
    border-radius: 10px;
    // background-color: #eef;
}

code {
    padding: 20px 9px;
}

pre {
    padding: 20px 20px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 10px;
  border-collapse: collapse;
  text-align: center;
  font-size: 1vw; 

}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  color: white;
  font-size: .85em;
  letter-spacing: .1em;
  padding: auto;

  background-color: #800000;
}

